<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
</head>

<body>
<header>
    <h1>Blackboard Chat</h1>
    <br>
    <section>

        <div id="change_user">
            <label for="username">Username:</label><input id="username" type="text" />
<!--            <button id="send_username"  type="button">Change username</button>-->
            <label for="password">Password:</label><input id="password" type="password" />
            <button id="send_password"  type="button">Change ! </button>
        </div>

    </section>
</header>


<section id="chat_body">
<!--    <section id="feedback"></section>-->
<!--    <div class = "message"><span>USER ~ </span><span>( TIME ) ~ </span>-->
<!--   </div>-->
</section>



<section id="input_zone">
    <input id="message" class="vertical-align" type="text" />
    <button id="send_message"  type="button">Send</button>
</section>
<footer>

    <div class="footertext">
        Created by Xenofontova Sofia. 2019 ©
        <div class="online" id = "online_users">Online users: </div>
    </div>
</footer>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="chat.js"></script>
</body>
</html>