/*@mixin vertical-align {*/
/*    position: relative;*/
/*    top: 50%;*/
/*    -webkit-transform: translateY(-50%);*/
/*    -ms-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*}*/

* {
    box-sizing: initial;
    font-family: "Chalkboard SE";
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0px;
    height: 77%;

}

header {
    height: 24%;
    position: relative;
    background-image: url("http://www.gsfdcy.com/data/img1/64/1874786-paper-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*text-align: center;*/

}

footer {
    height: 5%;
    background-image: url("http://www.gsfdcy.com/data/img1/64/1874786-paper-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #010d0b;
    padding: 0.5%;
    text-shadow: 0 0 5px #37fab9;
}

.online {
    display: inline-block;
    padding-left: 50%;
    font-size: 2vw;
    text-shadow: 0 0 5px #BCA9F5;
    text-align: right;
    justify-content: right;
}

h1 {
    /*margin-top: 2%;*/
    padding-top: 2%;
    font-family: "Chalkboard";
    margin: 0px;
    text-align: center;
}

div#change_user, section#input_zone {
    border: 5px double #00e699;

}

div#change_user {
    justify-content: center;
    align-items: center;
    alignment: center;
    height: 4%;
    display: block;
    text-shadow: 0 0 5px #37fab9;
    outline: #2ed19b;
    /*background-color: #BCA9F5;*/
}

section#chat_body {
    border: 5px double #00e699;
    height: 89%;
    background-image: url("https://i.pinimg.com/originals/b4/76/9e/b4769e3a52766f30e86b375391c84441.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

section#input_zone {
    height: 7%;
    display: block;
    background-image: url("http://www.gsfdcy.com/data/img1/64/1874786-paper-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /*text-align: center;*/
    /*justify-content: center;*/
    /*vertical-align: center;*/
    /*background-color: #BCA9F5;*/
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-align2 {
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


input#username, #password {
    font-family: "Chalkboard SE";
    height: 90%;
    width: 30%;
    font-size: 90%;
    background-color: aquamarine;
    outline: #37fab9;
}

textarea#message {
    /*display: inline-block;*/
    background-color: aquamarine;
    width: 88%;
    height: 89%;
    font-family: Chalkboard SE;
    font-size: 2vh;
    outline: #37fab9;
    border: 0px;
}

/*button#send_message {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    height: 50%;*/
/*    width: 8%;*/
/*}*/

button {
    box-shadow: 0px 0px 13px 4px #60dbcb;
    background: linear-gradient(to bottom, #37fab9 5%, #2ad8de 100%);
    background-color: #37fab9;
    border-radius: 39px;
    display: inline-block;
    cursor: pointer;
    color: #010d0b;
    font-family: Chalkboard;
    font-size: 80%;
    padding: 9px 8px;
    justify-content: center;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2ed19b;
    outline: 0;
    border: 0px;
}

button:hover {
    background: linear-gradient(to bottom, #2ad8de 5%, #37fab9 100%);
    background-color: #2ad8de;
}

button:active {
    position: relative;
    top: 1px;
}

.message {
    position:relative;
    display: block;
    width: 97%;
    height: fit-content ;
    padding: 1% 2% 1% 1%;
    /*border: 1px ridge #00e699;*/
    /*box-shadow: 0 0 5px #BCA9F5;*/
    /*padding: 1%;*/
    font-family: "Chalkduster";
    word-break: break-word;

}

.message:nth-child(even) {
    color: aquamarine;
}

.message:nth-child(odd) {
    color: #BCA9F5;
}

.close-window {
    position: absolute;
    display: none;
    top:1%;
    right:1%;
    color: red;
    /*font-family: "Comic Sans MS";*/
    transform: rotate(45deg);
    cursor: pointer;
}

@media print {
    .printpage {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    textarea#message  {
        /*display: inline-block;*/
        width: 70%;
        font-size: 2vh;
    }

    .online {
        display: block;
        padding-left: 0%;
        padding-right: 10%;
        padding-top: -5%;
        font-size: 14px;
        text-shadow: 0 0 5px #BCA9F5;
        text-align: right;
        justify-content: right;

    }

    button {
        font-size: 12px;
        position: center;

    }

    input#username, #password {
        height: 90%;
        width: 50%;
        font-size: 2vh;
    }

    footer {
        height: 7.8%;
        font-size: 55%;
        padding-bottom: 1%;
    }

    header {
        height: 35%;
    }

    body {
        height: 69%;
    }

    .message {
        font-size: 15px;
    }

    .vertical-align {
        position: relative;
        top: 30%;
        -webkit-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
    }
}


/*for ipad or ipad-pro*/
@media only screen and (min-width: 420px) and (max-width: 1024px) {

    textarea#message {
        /*display: inline-block;*/
        width: 75%;
        height: 80%;
        font-size: 2vh;
    }

    body {

        height: 75%;
    }

    h1 {
        /*margin-top: 2%;*/
        padding-top: 2%;
        margin: 0px;

    }

    button {
        font-size: 20px;
        position: center;


    }

    input#username, #password {
        height: 100%;
        width: 85%;
        font-size: 2vh;
    }

    footer {
        height: 7%;
        font-size: 90%;
    }

    .online {
        display: block;
        padding-left: 0%;
        padding-right: 10%;
        padding-top: -5%;
        font-size: 20px;
        text-shadow: 0 0 5px #BCA9F5;
        text-align: right;
        justify-content: right;

    }

    header {
        height: 27%;
    }

    .vertical-align2 {
        top: 20%;
    }

}


@media only screen and (min-width: 330px) and (max-width: 450px) {

    textarea#message  {
        /*display: inline-block;*/
        width: 80%;
        height: 70%;
        font-size: 2vh;
    }


    h1 {
        /*margin-top: 2%;*/
        padding-top: 2%;
        margin: 0px;

    }

    button {
        font-size: 78%;
        position: center;
        /*height: 50%;*/
        /*width: 15%*/

    }

    .vertical-align {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    input#username, #password {
        height: 100%;
        width: 71%;
        font-size: 2vh;
    }

    footer {
        height: 6%;
        font-size: 50%;
    }

    header {
        height: 36%;
    }

    body {
        height: 70%;
    }

    .online {
        font-size: 16px;
    }

    .vertical-align2 {
        top: 30%;
    }
}